<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlO7fpWFQ2fKdktBeRsA-SenPLA7-j02A</string>
	<key>GCM_SENDER_ID</key>
	<string>404154651244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloFlutter</string>
	<key>PROJECT_ID</key>
	<string>calculator-app-40c80</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-app-40c80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404154651244:ios:1ca3abf8849e340d513e49</string>
</dict>
</plist>